/*
font-family: 'Open Sans', sans-serif;
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: aquamarine;
    padding: 16px 0;
}

header h1 {
    color: rgb(5, 136, 5);
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: orange;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgb(177, 118, 7);
}

footer {
    background-color: rgb(61, 61, 61);

    clear: both;
    color: rgb(4, 224, 92);
    text-align: center;
    padding: 5px 0;
    /*3rem 0*/
    margin-top: 20px;
}

nav ul li a.activo {
    background-color: rgb(177, 118, 7);
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: rgb(255, 174, 0);
    font-weight: 400;
}

/*reglas para home*/
.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios {
    width: 25%;
    /*background-color: yellow;*/
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos {
    font-size: 20px;
}

.testimonios {
    background-color: aliceblue;
    padding: 16px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    /*background-color: yellow;*/
    display: block;
}

.testimonio .autor {
    font-size: 10px;
    text-align: center;
    background-color: rgb(241, 104, 104);
    display: block;
    margin: 12px 0;
}

/*fin home*/
/*inicio nosotros*/

.historia p {
    font-size: 12px;
    /*0.7rem*/
}

.personas {
    display: flex;
    justify-content: space-between;


}

.persona {
    border: 1px solid rgb(11, 161, 11);
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    /*background-color: aquamarine*/
}

.persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px black;
}


.persona h5,
.persona h6 {
    margin: 0%;
    font-weight: normal;
    color: green;
}

.persona h5 {
    font-size: 14px;
    margin-top: 5px;
}

.persona h6 {
    font-size: 11px;
    font-style: italic;

}

.persona p {
    color: rgb(0, 0, 0);
    font-size: 10px;
}

/*fin nosotros*/
/*inicio servicios*/
.servicio {
    border: 1px solid green;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.servicio .info h4 {
    color: green;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid orange;
    padding-bottom: 10px;

}

.servicio .info p {
    font-size: 13px;
    /*line-height: 19px;*/

}

.servicio img {
    border-radius: 13px;
    display: block;
    max-width: 225px;
}

.servicio:nth-child(even) {
    flex-direction: row-reverse;
}

/*fin servicios*/

/*inicio galeria*/
.galeria img {
    width: 18%;
    border: 1px solid rgb(255, 149, 0);
    padding: 0.3%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2%
}

.galeria {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*fin galeria*/

/*inicio contacto*/
.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
    /*background-color: yellow;*/
}

.formulario p input,
.formulario p textarea {
    width: 100%;
}

.formulario p input,
.formulario p textarea {
    background: goldenrod;
    border-radius: 5px;
    border: 1px solid rgb(0, 255, 128);
    font-size: 14px;
    padding: 6px 10px;
}

.formulario textarea {
    resize: none;
    height: 150px;
}

.formulario input[type="submit"] {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px orange;
    color: aqua;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: rgb(0, 47, 255);
}